@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 10px;
}

.header__icon {
  @apply cursor-pointer transition-all duration-300 hover:text-rose-500;
}
